.test div{
    border:1px solid black;
}

body{
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f2f4f8;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
}

.logo {
    line-height: 65px;
    height: 65px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #4cb6cb;
    color: #eaf6f9;
    width: 220px;
    font-size: 20px;
    font-weight: 700;
}

.fa-headphones-alt {
    font-size: 25px ;
}

.logo span {
    margin-left: 15px;
}

header .row {
    background-color: white;
}

.right_bar {
    padding-left: 0;
}

.fa-bars {
    color: #939aa0;
    padding-top: 24px;
    font-size: 20px;
}

.text-muted:hover {
    background-color: #edf2f3;
}

.text-muted{
    display: block;
    width: 70px;
    height: 100%;
    float: left;
    text-align: center;
}

.search {
    float: left;
}

.input__btn {
    padding-top: 18px;
}

.btn:hover {
    color: #333;
    text-decoration: none;
}

.input-search {
    border: none;
    padding-top: 21px;
    font-size: 12px;
    color: #788188;
    padding-left: 12px;
}

.input-search:focus {
    outline: 0;
}

.fa-search {
    color: #788188;
}

.menu {
    width: 220px;
    padding-left: 0;
    border-top: 1px solid white;
    padding-right: 0;
}


.navigation {
    background-color: #5a6a7a;
}

.menu-list {
    list-style: none;
    padding-left: 0;
}

.menu-item {
    display: block;
}

.header-list {
    color: #acb7c1;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 12px;
    padding-left: 15px;
    box-sizing: border-box;
}
.menu-item a {
    text-decoration: none;
    color: #d8dde2;
    font-weight: 700;
    display: block;
    font-size: 14px;
    padding: 7px 20px;
    transition: background-color 0.5s ease-out;
}

.menu-item a:hover {
    background-color: #62778c;
}
.active {
    background-color: #62778c;
}

.menu-item i {
    line-height: 38px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 18px;
}

.menu-item-border{
    display: block;
    height: 20px;
}

.music-icon-blue {
    color: #60bed1;
}

.music-icon-green {
    color: #1dcc74;
}
.aside-info {
    background-color: #e0eaec;
    padding: 15px;
    width: 280px;
}

.aside-info h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: #788188;
}

.aside-col-info {
    padding-left: 0;
    height: calc(100vh - 120px);
    overflow-y: hidden;
    padding-right: 0;
}

.aside-col-info:hover {
    overflow-y: auto;
}

.list-group-item {
    padding: 15px 0;
    background: transparent;
    border: 0;
}

.avatar-container {
    margin-right: 15px;
    float: left;
}

.list-group-item a {
    text-decoration: none;
    color: #545a5f;
}

.avatar-container a {
    width: 40px;
    display: inline-block;
}

.avatar-container img {
    height: auto;
    border-radius: 500px;
    max-width: 100%;
    vertical-align: middle;
}

.name-container a{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 8px;
    font-size: 14px;
    text-overflow: ellipsis;
}

.name-container a:hover {
    color: #303437;
}



.footer-player {
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4cb6cb;
}