.test div{
    border:1px solid black;
}

body{

    background-color: #f2f4f8;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: #e6eaed;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.logo {
    line-height: 65px;
    height: 65px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #4cb6cb;
    color: #eaf6f9;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    font-weight: 700;
}

.unside {
    width: 220px;
}

.side {
    width: 64px;
}
.logo-ref {
    display: block;
    padding-left: 20px;
    width: 100%;
}

.fa-headphones-alt {
    font-size: 25px ;
}

.logo span {
    margin-left: 15px;
}

header .row {
    background-color: white;
}

.right_bar {
    padding-left: 0;
}

.fa-bars {
    color: #939aa0;
    padding-top: 24px;
    font-size: 20px;
}

.text-muted:hover {
    background-color: #edf2f3;
}

.text-muted{
    display: block;
    width: 70px;
    height: 100%;
    float: left;
    text-align: center;
}

.search {
    float: left;
}

.input__btn {
    padding-top: 18px;
}

.btn:hover {
    color: #333;
    text-decoration: none;
}

.input-search {
    border: none;
    padding-top: 21px;
    font-size: 12px;
    color: #788188;
    padding-left: 12px;
}

.input-search:focus {
    outline: 0;
}

.fa-search {
    color: #788188;
}

.menu {
    padding-left: 0;
    border-top: 1px solid white;
    padding-right: 0;
}


.navigation {
    background-color: #5a6a7a;
}

.menu-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.menu-item {
    display: block;
}

.header-list {
    color: #acb7c1;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 12px;
    padding-left: 15px;
    box-sizing: border-box;
}
.menu-item a {
    text-decoration: none;
    color: #d8dde2;
    font-weight: 700;
    display: block;
    font-size: 14px;
    transition: background-color 0.5s ease-out;
}

.side .menu-item a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
}

.unside .menu-item a {
    padding: 7px 20px;
}


.menu-item a:hover {
    background-color: #62778c;
}
.active {
    background-color: #62778c;
}

.menu-item i {
    line-height: 38px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 18px;
}

.menu-item-border{
    display: block;
    height: 20px;
}

.music-icon-blue {
    color: #60bed1;
}

.music-icon-green {
    color: #1dcc74;
}
.aside-info {
    background-color: #e0eaec;
    padding-left: 15px;
    width: 280px;
}

.aside-info h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #788188;
}

.aside-col-info {
    padding-left: 0;
    height: calc(100vh - 125px);
    overflow-y: hidden;
    padding-right: 0;
}

.aside-col-info:hover {
    overflow-y: auto;
}

.list-group-item {
    padding: 15px 0;
    background: transparent;
    border: 0;
}

.avatar-container {
    margin-right: 15px;
    float: left;
}

.list-group-item a {
    text-decoration: none;
    color: #545a5f;
}

.avatar-container a {
    width: 40px;
    display: inline-block;
}

.avatar-container img {
    height: auto;
    border-radius: 500px;
    max-width: 100%;
    vertical-align: middle;
}

.name-container a{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 8px;
    font-size: 14px;
    text-overflow: ellipsis;
}

.name-container a:hover {
    color: #303437;
}

.empty-block {
    height: calc(100vh - 277px);
    background-color: #4d5d6e;
}

.footer-container {
    padding-left: 0;
    padding-right: 0;
}

.login {
    background-color: #5a6a7a;
    height: 60px;
    width: 235px;
}

.player .row div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 60px;
}

.interface-activity {
    font-size: 2em;
}

.player-interface .row i:hover{
    color: #c2d2de;
}

.player .track-progress {
    padding: 0 15px;
    vertical-align: top;
    position: relative;
}

.track-progress a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 60px;
}

.track-progress {
    color: #e6eaed;
}

.list-song {
    cursor: pointer;
}

.player .left-buttons .hide {
    display: none;
}

.hide {
    display: none;
}

.playlist {
    position: relative;
}

#sliderBtn {
    position: absolute;
    font-size: 7px;
    top: 24px;
    left: 177px;
}

.playlist-item-remove {
    cursor:pointer;
}

.playlist ul {
    position: absolute;
    bottom: 45px;
    left: 163px;
    list-style: none;
    display: block;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 300px;
}

.playlist li div {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
}

.playlist-item {
    font-size: 14px;
    color: #eaf6f9;
}

.playlist-item i {
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
}

.playlist-item-title:hover {
    color: #eaf6f9;
}

.playlist-item-autor {
    opacity: 0.6;
}

.playlist-item {
    padding: 5px;
    background-color: #2ea0b6;
}

.playlist-item-remove {
    float: right;
}

.player .row .volume-bar {
    width: 76px;
    padding-right: 10px;
}

.player-interface .row i{
    color: #e6eaed;
    cursor: pointer;
}

.player .row .volume-bar-scale {
    display: block;
    height: 6px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #36b0c8;
}

.track-time {
    color: #c3e6ed;
}

.player .row .volume-bar-scale-status {
    display: block;
    padding-left: 0;
    padding-right: 0;
    background-color: #78c3d2;
    height: 6px;
    width: 100%;
}

.player-interface {
    padding-left: 20px;
    padding-right: 20px;
}

.interface-btn {
    font-size: 20px;
}

.login a{
    color: #e6eaed;
    font-weight: 500;
    display: block;
    width: 100%;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-decoration: none;
}

.unside #login-ref {
    padding-right: 21px;
}

.side #login-ref {
    padding-right: 0;
}

.unside .fa-user-plus {
    padding-right: 10px;
}

.side .fa-user-plus {
    padding-right: 0;
}

.login i {
    font-size: 16px;
}

.login a:hover {
    color: white;
}

.login i:hover {
    color: white;
}

.footer-player {
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4cb6cb;
}

.headline {
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 30px;
    color: #7c8185;
    margin-top: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.image-ref {
    display: block;
    width: 100%;
}

.item-image img {
    border-radius: 3px;
    width: 100%;

}

.item-desc {
    padding-top: 5px;
}

.item-name a{
    color: #545a5f;
    font-size: 14px;
}

.item-name a:hover{
    color: #323239;
    font-size: 14px;
}

.item-author {
    font-size: 12px;
    color: #939aa0;
}

.item-author a{
    font-size: 12px;
    color: #82878e;
}

.item-author a:hover{
    font-size: inherit;
    color: inherit;
}

.content-container {
    overflow-y: auto;
    height: calc(100vh - 125px);
}

.content-col {
    padding-right: 0;
    padding-left: 0;
}

.item {
    margin-bottom: 20px;
    position: relative;
}

.item-hover a{
    color: #96cbff;
}

.item-hover {
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.item-hover i {
    font-size: 2em;
}

.item-hover i:hover {
    color: #84b1dd;
}

.item-image:hover .item-hover{
    display: block;
}

.item-image {
    position: relative;
    text-align: center;
}

.input-group select {
    margin-left: 25px;
    margin-top: 16px;
    font-size: 16px;
    border: none;
    font-weight: 300;
}

.item-hover-center {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 0;
    right: 0;
}

.login-container {
    height: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.widjet-btn {
    height: 100%;
}

.login-btn {
    background-color: white;
    padding-top: 10px;
}

.login-btn a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    color: #545a5f;
}

.player {
    background-color: #4cb6cb;
    padding-left: 0;
}