<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- название альбома-->
    <title>Album - Music</title>
    <link rel="stylesheet" href="../../WEB-INF/static/bootsrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home_page.css">
    <link rel="stylesheet" href="../css/artist_page.css">
    <link rel="stylesheet" href="../css/music_page.css">
</head>
<body>
<section>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto logo unside" id="unside_logo">
                    <a href="main_page.html" class="logo-ref">
                        <i class="fas fa-headphones-alt"></i>
                        <span>MusicPlayer</span>
                    </a>
                </div>
                <div class="col-auto logo side" id="side_logo">
                    <a href="main_page.html" class="logo-ref">
                        <i class="fas fa-headphones-alt"></i>
                    </a>
                </div>
                <div class="col right_bar">
                    <a href="#" class="text-muted" id="side_button">
                        <i class="fa fa-bars"></i>
                    </a>
                    <form action="" role="search" class="search">
                        <div class="input-group">
		            <span class="input__btn">
		              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i
                              class="fa fa-search"></i></button>
		            </span>
                            <input type="text" autocomplete="off" class="rounded input-search" name="search"
                                   placeholder="Search...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto menu unside" id="unside_menu">
                <aside>
                    <nav class="navigation">
                        <ul class="menu-list">
                            <li class="menu-item header-list">
                                <span>Discover music</span>
                            </li>
                            <li class="menu-item">
                                <a href="main_page.html">
                                    <i class="fas fa-music music-icon-green" aria-hidden="true"></i>
                                    <span>Discover</span>
                                </a>
                            </li>
                            <li class="menu-item"><a href="genres_page.html">
                                <i class="fas fa-align-left music-icon-blue" aria-hidden="true"></i>
                                <span>Genres</span>
                            </a></li>
                            <li class="menu-item"><a href="albums_page.html">
                                <i class="fas fa-compact-disc music-icon-green" aria-hidden="true"></i>
                                <span>Albums</span>
                            </a></li>
                            <li class="menu-item"><a href="artists_page.html">
                                <i class="fas fa-user-friends music-icon-blue" aria-hidden="true"></i>
                                <span>Artists</span>
                            </a></li>
                            <li class="menu-item-border"></li>
                        </ul>
                    </nav>
                    <section>
                        <div class="empty-block"></div>
                    </section>
                </aside>
            </div>
            <div class="col-auto menu side" id="side_menu">
                <aside>
                    <nav class="navigation">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="main_page.html">
                                    <i class="fas fa-music music-icon-green"></i>
                                </a>
                            </li>
                            <li class="menu-item"><a href="genres_page.html">
                                <i class="fas fa-align-left music-icon-blue"></i>
                            </a></li>
                            <li class="menu-item"><a href="albums_page.html">
                                <i class="fas fa-compact-disc music-icon-green"></i>
                            </a></li>
                            <li class="menu-item"><a href="artists_page.html">
                                <i class="fas fa-user-friends music-icon-blue"></i>
                            </a></li>
                            <li class="menu-item-border"></li>
                        </ul>
                    </nav>
                    <section>
                        <div class="empty-block"></div>
                    </section>
                </aside>
            </div>
            <div class="col content-col ">
                <div class="main-panel">
                    <div class="artist-inf">
                        <div class="row">
                            <div class="col-sm-4 artist-image">
                                <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m13.jpg" alt="">
                            </div>
                            <div class="col-sm-8 artist-desc">
                                <!-- Название Альбома -->
                                <h1>Top Board</h1>
                                <div class="meta">
                                    <span>Artist: <a href="">Bossr</a></span>
                                    <span>Publish: 2013</span>
                                    <span>In: <a href="">Rock</a>, <a href="">Jazz</a></span>
                                </div>
                                <div class="music-buttons">
                                    <a href="" class="play">
                                        <i class="far fa-play-circle" aria-hidden="true"></i>
                                    </a>
                                    <!-- должна идти по контексту-->
                                    <!-- far - если не любимчик, fas - если любимчик -->
                                    <button class="favorite-button" id="favorite">
                                        Favorite
                                        <i id="favorite-star" class="far fa-star"></i>
                                        <!-- favorite
                                        <i class="fas fa-star"></i>
                                        -->
                                        </i>
                                    </button>
                                    <span class="playing_count">
                                        <i class="fa fa-caret-right"></i>
                                        1246
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="music-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sequitur disserendi ratio
                                cognitioque naturae; <b>Summae mihi videtur inscitiae.</b> <i>Utram tandem linguam
                                    nescio?</i> Audeo dicere, inquit. Duo Reges: constructio interrete. Istam
                                voluptatem, inquit, Epicurus ignorat? <i>Tum Torquatus: Prorsus, inquit, assentior;</i>
                            </p>
                            <p>Huius ego nunc auctoritatem sequens idem faciam. Haec quo modo conveniant, non sane
                                intellego. <i>Praeclare hoc quidem.</i> Quorum sine causa fieri nihil putandum est.
                                Illud non continuo, ut aeque incontentae.</p>
                            <p>Nulla erit controversia. Magna laus. Nos commodius agimus.</p>
                            <p>Haec igitur Epicuri non probo, inquam.
                                <mark>Urgent tamen et nihil remittunt.</mark>
                                Sin aliud quid voles, postea. A mene tu? Nihilo magis.
                            </p>
                            <p>Istic sum, inquit. Qualem igitur hominem natura inchoavit?</p>
                        </div>
                    </div>
                    <!-- Музыка артиста -->
                    <h3 class="artist-music-header">Music</h3>
                    <div class="list-group music-group">
                        <div class="list-group-item music-group-item">
                            <div class="music-img">
                                <div class="overlay">
                                    <div class="item-overlay">
                                        <a href="">
                                            <i class="far fa-play-circle" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="">
                                    <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b5-150x150.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-name">
                                <a href="#"><strong>Hidden</strong></a>
                                <div class="item-author">
                                    by
                                    <a href="#">Bossr</a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item music-group-item">
                            <div class="music-img">
                                <div class="overlay">
                                    <div class="item-overlay">
                                        <a href="">
                                            <i class="far fa-play-circle" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="">
                                    <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b5-150x150.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-name">
                                <a href="#"><strong>Hidden</strong></a>
                                <div class="item-author">
                                    by
                                    <a href="#">Bossr</a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item music-group-item">
                            <div class="music-img">
                                <div class="overlay">
                                    <div class="item-overlay">
                                        <a href="">
                                            <i class="far fa-play-circle" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="">
                                    <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b5-150x150.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-name">
                                <a href="#"><strong>Hidden</strong></a>
                                <div class="item-author">
                                    by
                                    <a href="#">Bossr</a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item music-group-item">
                            <div class="music-img">
                                <div class="overlay">
                                    <div class="item-overlay">
                                        <a href="">
                                            <i class="far fa-play-circle" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="">
                                    <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b5-150x150.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="item-name">
                                <a href="#"><strong>Hidden</strong></a>
                                <div class="item-author">
                                    by
                                    <a href="#">Bossr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment_area">
                        <h3 class="artist-music-header">Leave a comment</h3>
                        <form action="" method="post">
                            <p class="comment-notes">
                                Your email address will not be published.
                                Required fields are marked
                                <span class="required">*</span>
                            </p>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <span class="required">*</span>
                                <textarea name="comment" id="comment" cols="45" rows="8"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="author">Your Name:</label>
                                    <span class="required">*</span>
                                    <input class="form-control" id="author" name="author" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label for="email">Your Email:</label>
                                    <span class="required">*</span>
                                    <input class="form-control" id="email" name="email" type="text">
                                </div>
                            </div>
                            <input name="submit" class="btn comment-submit" type="submit" value="Post Comment">
                        </form>
                    </div>
                    <div class="comments">
                        <h3 class="artist-music-header">Comments</h3>
                        <div class="list-group music-group">
                            <div class="list-group-item music-group-item comment">
                                <div class="item-name">
                                    <a href="#"><strong>Tempered Song</strong></a>
                                    <div class="item-author">
                                        by Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sequitur disserendi ratio cognitioque naturae; Summae mihi videtur inscitiae. Utram tandem linguam nescio? Audeo dicere, inquit. Duo Reges: constructio interrete. Istam voluptatem, inquit, Epicurus ignorat? Tum Torquatus: Prorsus, inquit, assentior;
                                        Huius ego nunc auctoritatem sequens idem faciam. Haec quo modo conveniant, non sane intellego. Praeclare hoc quidem. Quorum sine causa fieri nihil putandum est. Illud non continuo, ut aeque incontentae.
                                    </div>
                                    <span class="comment-date">21.09.2020</span>
                                </div>
                            </div>
                            <div class="list-group-item music-group-item comment">
                                <div class="item-name">
                                    <a href="#"><strong>Tempered Song</strong></a>
                                    <div class="item-author">
                                        by Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sequitur disserendi ratio cognitioque naturae; Summae mihi videtur inscitiae. Utram tandem linguam nescio? Audeo dicere, inquit. Duo Reges: constructio interrete. Istam voluptatem, inquit, Epicurus ignorat? Tum Torquatus: Prorsus, inquit, assentior;
                                        Huius ego nunc auctoritatem sequens idem faciam. Haec quo modo conveniant, non sane intellego. Praeclare hoc quidem. Quorum sine causa fieri nihil putandum est. Illud non continuo, ut aeque incontentae.
                                    </div>
                                    <span class="comment-date">21.09.2020</span>
                                </div>
                            </div>
                            <div class="list-group-item music-group-item comment">
                                <div class="item-name">
                                    <a href="#"><strong>Tempered Song</strong></a>
                                    <div class="item-author">
                                        by Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sequitur disserendi ratio cognitioque naturae; Summae mihi videtur inscitiae. Utram tandem linguam nescio? Audeo dicere, inquit. Duo Reges: constructio interrete. Istam voluptatem, inquit, Epicurus ignorat? Tum Torquatus: Prorsus, inquit, assentior;
                                        Huius ego nunc auctoritatem sequens idem faciam. Haec quo modo conveniant, non sane intellego. Praeclare hoc quidem. Quorum sine causa fieri nihil putandum est. Illud non continuo, ut aeque incontentae.
                                    </div>
                                    <span class="comment-date">21.09.2020</span>
                                </div>
                            </div>
                            <div class="list-group-item music-group-item comment">
                                <div class="item-name">
                                    <a href="#"><strong>Tempered Song</strong></a>
                                    <div class="item-author">
                                        by Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sequitur disserendi ratio cognitioque naturae; Summae mihi videtur inscitiae. Utram tandem linguam nescio? Audeo dicere, inquit. Duo Reges: constructio interrete. Istam voluptatem, inquit, Epicurus ignorat? Tum Torquatus: Prorsus, inquit, assentior;
                                        Huius ego nunc auctoritatem sequens idem faciam. Haec quo modo conveniant, non sane intellego. Praeclare hoc quidem. Quorum sine causa fieri nihil putandum est. Illud non continuo, ut aeque incontentae.
                                    </div>
                                    <span class="comment-date">21.09.2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="aside-info">
                <aside>
                    <h4>Top 5 artist</h4>
                    <div class="col-auto aside-col-info">

                        <!-- должно приходить с бд-->
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b17-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">Miaow</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m19-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">The Stark Palace</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b16-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">Bossr</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m17-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">Crystal Guerrero</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b19-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">James Garcia</a></div>
                            </div>
                        </div>
                        <!-- -->
                    </div>
                </aside>
            </section>
        </div>
    </div>
</section>


<section>
    <footer class="footer  footer-player">
        <div class="footer-container container-fluid">
            <div class="col-auto login unside" id="unside_login">
                <a href="login_page.html">
                    <i class="fas fa-user-plus"></i>
                    <span>Login</span>
                </a>
            </div>
            <div class="col-auto login side" id="side_login">
                <a href="login_page.html" id="login-ref">
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
            <div class="col player"></div>
        </div>
    </footer>
</section>

<script src="https://kit.fontawesome.com/ed6c81c467.js" crossorigin="anonymous"></script>
<script src="../../WEB-INF/static/jquery/jquery-3.5.1.min.js"></script>
<script src="../js/favorite.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
