<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums - music</title>
    <link rel="stylesheet" href="../../WEB-INF/static/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home_page.css">
</head>
<body>
<section>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto logo">
                    <a href="main_page.html" class="logo-ref">
                        <i class="fas fa-headphones-alt"></i>
                        <span>MusicPlayer</span>
                    </a>
                </div>
                <div class="col right_bar">
                    <a href="#" class="text-muted">
                        <i class="fa fa-bars"></i>
                    </a>
                    <form action="" role="search" class="search">
                        <div class="input-group">
		            <span class="input__btn">
		              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i
                              class="fa fa-search"></i></button>
		            </span>
                            <input type="text" autocomplete="off" class="rounded input-search" name="search"
                                   placeholder="Search...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto menu">
                <aside>
                    <nav class="navigation">
                        <ul class="menu-list">
                            <li class="menu-item header-list">
                                <span>Discover music</span>
                            </li>
                            <li class="menu-item">
                                <a href="main_page.html">
                                    <i class="fas fa-music music-icon-green"></i>
                                    <span>Discover</span>
                                </a>
                            </li>
                            <li class="menu-item"><a href="genres_page.html">
                                <i class="fas fa-align-left music-icon-blue"></i>
                                <span>Genres</span>
                            </a></li>
                            <li class="menu-item active"><a href="albums_page.html">
                                <i class="fas fa-compact-disc music-icon-green"></i>
                                <span>Albums</span>
                            </a></li>
                            <li class="menu-item"><a href="artists_page.html">
                                <i class="fas fa-user-friends music-icon-blue"></i>
                                <span>Artists</span>
                            </a></li>
                            <li class="menu-item-border"></li>
                        </ul>
                    </nav>
                    <section>
                        <div class="empty-block"></div>
                    </section>
                </aside>
            </div>
            <div class="col content-col">
                <section class="content">
                    <div class="container-fluid content-container">
                        <h2 class="headline">Albums</h2>
                        <div class="row content-row">

                            <!-- должно приходить с бд-->

                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#" class="image-ref">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m19-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name"><a href="#">Top Board - June</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">Bossr</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m15-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name"><a href="#">New Album</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">Miaow</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b17-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name"><a href="#">Bundle</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">The Stark Palace</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b5-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name"><a href="#">Free Album</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">Miaow</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m17-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name">
                                            <a href="#">Miaow 2019</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">Miaow</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b16-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name"><a href="#">Miaow 2020</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">Miaow</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b19-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name"><a href="#">TSP Bundle</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">The Stark Palace</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-2 item">
                                <article class="item-song">
                                    <div class="item-image">
                                        <div class="item-hover">
                                            <a href="#">
                                                <i class="far fa-play-circle"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b13-150x150.jpg"
                                                 alt>
                                        </a>
                                    </div>
                                    <div class="item-desc">
                                        <div class="item-name"><a href="#">Miaow 2021</a>
                                            <div class="item-author">
                                                by
                                                <a href="#">Miaow</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <!-- -->

                        </div>
                    </div>
                </section>
            </div>
            <section class="aside-info">
                <aside>
                    <h4>Top 5 albums</h4>
                    <div class="col-auto aside-col-info">

                        <!-- должно приходить с бд-->
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b17-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">Bundle</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m19-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">Top Board June</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b16-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">Miaow 2020</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m17-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">Miaow 2019</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img
                                        src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b19-150x150.jpg"
                                        alt=""></a></div>
                                <div class="name-container"><a href="">TSP Bundle</a></div>
                            </div>
                        </div>
                        <!-- -->
                    </div>
                </aside>
            </section>
        </div>
    </div>
</section>

<section>
    <footer class="footer  footer-player">
        <div class="footer-container container-fluid">
            <div class="col-auto login">
                <a href="login_page.html">
                    <i class="fas fa-user-plus"></i>
                    <span>Login</span>
                </a>
            </div>
            <div class="col player"></div>
        </div>
    </footer>
</section>
<script src="https://kit.fontawesome.com/ed6c81c467.js" crossorigin="anonymous"></script>
</body>
</html>