<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicPlayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home_page.css">
</head>
<body>
<section>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto logo">
                    <i class="fas fa-headphones-alt"></i>
                    <span>MusicPlayer</span>
                </div>
                <div class="col right_bar">
                    <a href="#" class="text-muted">
                        <i class="fa fa-bars"></i>
                    </a>
                    <form action="" role="search" class="search">
                        <div class="input-group">
		            <span class="input__btn">
		              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i
                              class="fa fa-search"></i></button>
		            </span>
                            <input type="text" autocomplete="off" class="rounded input-search" name="search"
                                   placeholder="Search...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto menu">
                <aside>
                    <nav class="navigation">
                        <ul class="menu-list">
                            <li class="menu-item header-list">
                                <span>Discover music</span>
                            </li>
                            <li class="menu-item"><a href="#">
                                <i class="fas fa-music music-icon-green"></i>
                                <span>Discover</span>
                            </a></li>
                            <li class="menu-item"><a href="#">
                                <i class="fas fa-align-left music-icon-blue"></i>
                                <span>Genres</span>
                            </a></li>
                            <li class="menu-item"><a href="#">
                                <i class="fas fa-compact-disc music-icon-green"></i>
                                <span>Albums</span>
                            </a></li>
                            <li class="menu-item"><a href="#">
                                <i class="fas fa-user-friends music-icon-blue"></i>
                                <span>Artists</span>
                            </a></li>
                            <li class="menu-item-border"></li>
                        </ul>
                    </nav>
                    <section>
                        <div class="empty-block">
                            ы
                        </div>
                    </section>
                </aside>
            </div>
            <div class="col"></div>
            <section class="aside-info">
                <aside>
                    <div class="col-auto aside-col-info">
                        <h4>Top artists</h4>

                        <!-- должно приходить с бд-->
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Miaow</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">The Stark Palace</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Bossr</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Crystal Guerrero</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">James Garcia</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Jean Schneider</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Jeremy Scott</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Jesse Russell</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Joe Holmes</a></div>
                            </div>
                            <div class="list-group-item">
                                <div class="avatar-container"><a href=""><img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt=""></a></div>
                                <div class="name-container"><a href="">Judith Garcia</a></div>
                            </div>
                        </div>
                        <!-- -->

                    </div>
                </aside>
            </section>
        </div>
    </div>
</section>


<section>
    <footer class="footer  footer-player">

    </footer>
</section>

<script src="https://kit.fontawesome.com/ed6c81c467.js" crossorigin="anonymous"></script>
</body>
</html>